<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="favicon.png" />

    <link rel="stylesheet" href="global.css" />
	{% block css %}
	{% endblock %}
    
    {% block title %}
      <title>seawraith</title>
    {% endblock %}
  </head>
  <body>
    {% block content %}
    {% endblock %}
    {% block js %}
    {% endblock js %}
  </body>
</html>