<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <script src="/htmx/htmx.js"></script>
    <link href="/css/output.css" rel="stylesheet">
    
    {% block title %}
      <title>seawraith</title>
    {% endblock %}
  </head>
  <body>
    {% block content %}
    {% endblock %}
    {% block js %}
    {% endblock js %}
  </body>
</html>