{% extends "abstract/base.njk" %}

{% block content %}
  <ul>
      {% for flashMessage in flashMessages %}
          <li class="{{ flashMessage.type }}">
              {{ flashMessage.message }}
          </li>
      {% endfor %}
  </ul>

	<p>{{ sessionData }}</p>
{% endblock %}