{% extends "abstract/base.njk" %}

{% block content %}
  <ul>
      {% for flashMessage in flashMessages %}
          <li class="{{ flashMessage.type }}">
              {{ flashMessage.message }}
          </li>
      {% endfor %}
  </ul>

  <form method="POST" action="login">
    <label for="hostname">hostname:</label>
    <input type="text" name="hostname" id="hostname">
    <br>
    <label for="port">port:</label>
    <input type="text" name="port" id="port" value="22">
    <br>
    <label for="username">username:</label>
    <input type="text" name="username" id="username">
    <br>
    <label for="password">password:</label>
    <input type="password" name="password" id="password">
    <br>
    <input type="checkbox" id="remember-password" name="remember-password">
    <label for="remember-password">remember password</label>
    <br>
    <button type="submit">login!</button>
  </form>
{% endblock %}